workspace "1 one" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "2 two" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "3 three" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "4 four" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "5 five" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "6 six" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "7 seven" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "8 eight" {
    open-on-output "Samsung Electric Company C34J79x H4ZN101074"
}
workspace "9 nine" {
    open-on-output "PNP(AOC) U28G2G6B PPYM9JA002130"
}
workspace "0 ten" {
    open-on-output "PNP(UGD) CD130FH 20210908"
}
