// Block out mako notifications from screencasts.
layer-rule {
    match namespace=r#".*notifications.*"#
    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm|com\.mitchellh\.ghostty|foot$"# at-startup=true
    open-on-workspace "two"
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm|com\.mitchellh\.ghostty|foot$"#
    default-column-width { 
        proportion 0.33333
    }
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="blobdrop"
    open-floating true
}


window-rule {
    match app-id=r#"firefox"#
    open-maximized true
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title=r#"^Extension: "#
    open-floating true
}

window-rule {
    match title=r#"Private Browsing"#
    match app-id="chat-schildi-revenge-MainKt"
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^Bitwarden$"#
    match app-id="waydroid.com.x8bit.bitwarden"
    match app-id=r#"^Element$"#
    match app-id=r#"firefox$"# title=r#"^Extension: "#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match app-id="scrcpy"
    default-column-width {
        fixed 600
    }
}

layer-rule {
    match namespace="rofi"
    match namespace="wlr_which_key"

    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=2
        color "#00000099"
    }

    background-effect {
        blur true
        xray false
    }

    geometry-corner-radius 10
}


/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace=r#"^noctalia-(background|launcher-overlay|dock)-.*$"#
  background-effect {
    xray false
    blur true
  }
}

// Visible apps

// space 1
window-rule {
    match app-id=r#"^firefox$"# at-startup=true
    open-on-workspace "one"
}

// space 3
window-rule {
    match app-id="org.mozilla.Thunderbird"
    open-on-workspace "three"
}

// space 4
window-rule {
    match app-id=r#"^notion-calendar-electron$"#
    open-on-workspace "four"
    default-column-width { 
        proportion 0.66667
    }
}

window-rule {
    match app-id="chrome-app.todoist.com__app_today-Default"
    open-on-workspace "four"
    default-column-width { 
        proportion 0.33333
    }
}


// space 5
window-rule {
    match app-id=r#"^Spotify$"#
    open-on-workspace "five"
}

window-rule {
    match app-id="chat-schildi-revenge-MainKt"
    match app-id=r#"^Element$"#
    open-on-workspace "five"
}

// space 6
window-rule {
    match app-id=r#"^obsidian$"#
    open-on-workspace "six"
}

// space 9
window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    open-on-workspace "nine"
}
