// Daemons

spawn-at-startup "hypridle"
spawn-at-startup "hyprlock"

// Visible apps

// space 1
spawn-at-startup "gtk-launch firefox"
window-rule {
    match app-id=r#"^firefox$"# at-startup=true
    open-on-workspace "1"
    open-focused false
}

// space 2
spawn-at-startup "gtk-launch org.wezfurlong.wezterm"
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"# at-startup=true
    open-on-workspace "2"
    open-focused false
}

// space 3
spawn-at-startup "gtk-launch org.mozilla.Thunderbird"
window-rule {
    match app-id=r#"^org\.mozilla\.Thunderbird$"# at-startup=true
    open-on-workspace "3"
    open-focused false
}

// space 4
spawn-at-startup "gtk-launch notion-calendar-electron"
spawn-at-startup "/home/tamas/.dotfiles/scripts/pwa.sh https://app.todoist.com/"
window-rule {
    match app-id=r#"^notion-calendar-electron$"# at-startup=true
    open-on-workspace "4"
    open-focused false
}

// space 5
spawn-at-startup "gtk-launch spotify"
window-rule {
    match app-id=r#"^spotify$"#
    open-on-workspace "5"
    open-focused false
}
spawn-at-startup "gtk-launch io.element.Element"
window-rule {
    match app-id=r#"^Element$"#
    open-on-workspace "5"
    open-focused false
}
