scripts/iam.sh filter=git-crypt diff=git-crypt
zsh/.config/zsh/secret-env-vars.sh filter=git-crypt diff=git-crypt
newsboat/.config/newsboat/urls filter=git-crypt diff=git-crypt
spotify/.config/spotify-tui/client.yml filter=git-crypt diff=git-crypt
