[submodule "zsh/fzf"]
	path = .zsh/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/oh-my-zsh-custom/powerlevel9k"]
	path = zsh/oh-my-zsh-custom/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/oh-my-zsh-custom/powerlevel10k"]
	path = .zsh/oh-my-zsh-custom/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh/gradle-completion"]
	path = .zsh/gradle-completion
	url = https://github.com/gradle/gradle-completion.git
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
