.dunstmuted
*.pyc
.uuid

karabiner/.config/karabiner/automatic_backups
zsh/.config/zsh/.zsh_history

scripts/gpg2
zsh/.config/zsh/.zsh_sessions

lazygit/.config/lazygit/state.yml
neomutt/.config/mutt/accounts
neomutt/.config/mutt/.mailsynclastrun
spotify/.config/spotify-tui/.spotify_token_cache.json
