layout {

    focus-ring {
        active-color   "#a1d39a"
        inactive-color "#10140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a1d39a"
        inactive-color "#10140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a1d39a"
        inactive-color "#235024"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a1d39a80"
    }
}

recent-windows {
    highlight {
        active-color "#a1d39a"
        urgent-color "#ffb4ab"
    }
}
