BTN_BG={{base02-hex}}
BTN_FG={{base06-hex}}
FG={{base05-hex}}
BG={{base00-hex}}
HDR_BTN_BG={{base01-hex}}
HDR_BTN_FG={{base05-hex}}
ACCENT_BG={{base0B-hex}}
ACCENT_FG={{base00-hex}}
HDR_FG={{base05-hex}}
HDR_BG={{base02-hex}}
MATERIA_SURFACE={{base02-hex}}
MATERIA_VIEW={{base01-hex}}
MENU_BG={{base02-hex}}
MENU_FG={{base06-hex}}
SEL_BG={{base0D-hex}}
SEL_FG={{base0E-hex}}
TXT_BG={{base02-hex}}
TXT_FG={{base06-hex}}
WM_BORDER_FOCUS={{base05-hex}}
WM_BORDER_UNFOCUS={{base03-hex}}
UNITY_DEFAULT_LAUNCHER_STYLE=False
NAME=Materia
MATERIA_STYLE_COMPACT=True

