@import 'colors.css';

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Pro', 'Iosevka Nerd Font';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: @base05;
    transition-property: background-color;
    transition-duration: .5s;
    background-color: transparent;
}

window#waybar > * {
    margin: 14px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
}

#workspaces button:first-child {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}
#workspaces button:last-child {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#workspaces button.urgent {
    background-color: @base08;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-dunst,
#custom-sunpaper,
#custom-pomo,
#mode,
#idle_inhibitor,
#mpd
,#tray
,#workspaces
{
    border-radius: 20px;
    padding: 0 10px;
    margin: 0px 4px;
    color: @base00;
    background-color: @base04;
}
#tray {
    background-color: transparent;
}
#custom-pomo {
    margin: 0px 4px 0px -5px;
}

#tray > * > * {
    padding: 6px 8px;
    background-color: @base03;
    border-radius: 30px;
}

#workspaces {
padding: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

